{% extends 'base.html.twig' %}

{% block title %}Commune de Rosières{% endblock %}

{% block body %}
    <div id="corps">
        <div id="page">
            <nav id="menu" role="navigation" class="g25">
                <div id="menu_lateral">
                </div><!-- #menu_lateral -->

                <div id="post_navigation">
                    <div id="direct" class="pave">
                        <h2 class="decale"><span class="intitule">En 1 clic</span></h2>
                        <div class="contenu_pave">
                            <ul class="tablo">
                                <li class="case"><a href="#"> <span class="picto"><img src="{{ asset('assets/img/arton114-edb70.png') }}" alt="" /></span><span class="intitule">Annuaires</span></a></li>
                                <li class="case"><a href="#"> <span class="picto"><img src="{{ asset('assets/img/arton115-d93ea.png') }}" alt="" /></span><span class="intitule">Plan de la commune</span></a></li>
                                <li class="case"><a href="{{ path('agenda') }}"> <span class="picto"><img src="{{ asset('assets/img/arton116-b8d82.png') }}" alt="" /></span><span class="intitule">Agenda</span></a></li>
                            </ul>
                        </div><!-- .contenu_pave -->
                    </div><!-- .pave -->
                    <div id="boutons_pratique" class="pave">
                        <h2 class="decale"><span class="intitule">Pratique</span></h2>
                        <div class="contenu_pave"><a href="#"><img class="spip_logos" alt='D&#233;marches en ligne' src="{{ asset('assets/img/arton221.png?1448546671') }}" width="480" height="120" onmouseover="this.src='{{ asset('assets/img/artoff221.png?1448546738') }}'" onmouseout="this.src='{{ asset('assets/img/arton221.png?1448546671') }}'" /></a>
                            <br/>
                            <figure class='spip_document_1105 spip_documents media media_image media_image_png'><a href="https://portail5.aiga.fr/index.php5?client=10340" title="https://portail5.aiga.fr/index.php5..."><img src="{{ asset('assets/img/portailfamille.png') }}" height="235" width="264" alt='Acc&#232;s au portail famille' /></a></figure>
                            <br/>
                            <figure class='spip_document_545 spip_documents media media_image media_image_gif'><a href="http://www.tipi.budget.gouv.fr" title="http://www.tipi.budget.gouv.fr"><img src="{{ asset('assets/img/banniere_tipi_url_300250.gif') }}" height="250" width="300" alt='Payez vos factures en ligne avec TIPI' /></a></figure></div><!-- .contenu_pave -->
                    </div><!-- .pave -->
                </div><!-- #post_navigation -->

                <div id="mag" class="pave">
                    <h2 class="titraille"><span class="intitule">Publications</span></h2>
                    <div class="contenu_pave">
                        <dl class="document">
                            <dt class="g25">
                                <div class="logo"><a href="#" title="Le Caillotin n&#176; 114-PDF-3.1&#160;Mo - nouvelle fen&ecirc;tre" target="_blank"><img src="{{ asset('assets/img/pdf-39070.png') }}" class="img_png" alt="Le Caillotin n&#176; 114-PDF-3.1&#160;Mo" /></a></div>
                            </dt>
                            <dd class="g75">
                                <div class="titre">Le Caillotin n&#176;&nbsp;114</div>
                                <div class="date">octobre 2021</div>
                                <div class="telecharger"><a href="#" title="Le Caillotin n&#176; 114-PDF-3.1&#160;Mo - nouvelle fen&ecirc;tre" class="telechargement" target="_blank">T&eacute;l&eacute;charger (PDF-3.1&#160;Mo)</a></div>
                            </dd><!-- .document -->
                        </dl><!-- .document -->
                        <div class="bouton"><a href="#" class="url">Voir tout</a></div>
                    </div><!-- contenu_pave -->
                </div><!-- pave -->
            </nav><!-- #menu_gauche -->
            <div id="content" role="main" class="g75 surlignable">
                <section id="contenu" class="g66">
                    <section id="principal" class="surlignable">
                        <div id="covid" class="g100">
                            <div class="contenu_pave"><span class='spip_document_1386 spip_documents'>
                                <a href="-Information-Coronavirus-" class="spip_in" title="-Information-Coronavirus-"><img src='../../public/assets/img/image_a_integrer.jpg' width="534" height="212" alt="-Information-Coronavirus-" /></a></span></div>
                            </div>
                        <div id="breves" class="pave">
                            <h2 class="titraille"><span class="intitule">En bref</span></h2>
                            <div class="contenu_pave">
                                <article class="intro g100">
                                    <div class="bloc g66">
                                        <h3><a href="Les-lignes-no8-et-no31-de-la-TCAT">Les lignes n&#176;8 et n&#176;31 de la TCAT</a></h3>
                                        <a href="Les-lignes-no8-et-no31-de-la-TCAT" class="logo"><img src="../../public/assets/img/db6b69aeb112218a7094f8621eb50758.png" class="img_png" alt="Les lignes n&#176;8 et n&#176;31 de la TCAT" /></a>
                                        <div class="descriptif">Retrouvez les nouveautés de la rentrée avec, entre autres, la création de la ligne n&#176;&nbsp;31 pour les collégiens de Marie Curie.</div>
                                        <p class="suite"><a href="Les-lignes-no8-et-no31-de-la-TCAT" title="lire Les lignes n&#176;8 et n&#176;31 de la TCAT" >Lire la suite</a></p>
                                    </div><!-- /bloc -->
                                </article><!-- /.intro -->

                                <article class="intro g100">
                                    <div class="bloc g66">
                                        <h3><a href="Influenza-aviaire">Influenza aviaire</a></h3>
                                        <div class="descriptif">Influenza aviaire hautement pathogène&nbsp;: passage au niveau de vigilance élevé avec renforcement des mesures de prévention et de surveillance</div>
                                            <p class="suite"><a href="Influenza-aviaire" title="lire Influenza aviaire" >Lire la suite</a></p>
                                    </div><!-- /bloc -->
                                </article><!-- /.intro -->

                                <article class="intro g100">
                                    <div class="bloc g66">
                                        <h3><a href="Demandes-en-ligne-des-actes-d-urbanisme-a-compter-du-1er-janvier-2022">Demandes en ligne des actes d&#8217;urbanisme à compter du 1<sup class="typo_exposants">er</sup> janvier 2022</a></h3>
                                        <div class="descriptif">A compter du 1<sup class="typo_exposants">er</sup> janvier 2022, vous pouvez  effectuer vos demandes d’actes d’urbanisme sur le site de Troyes Champagne Métropole dont vous trouverez&nbsp;(...)</div>
                                        <p class="suite"><a href="Demandes-en-ligne-des-actes-d-urbanisme-a-compter-du-1er-janvier-2022" title="lire Demandes en ligne des actes d'urbanisme &#224; compter du 1er janvier (...)" >Lire la suite</a></p>
                                    </div><!-- /bloc -->
                                </article><!-- /.intro -->

                                <article class="intro g100">
                                    <div class="bloc g66">
                                        <h3><a href="Fermeture-exceptionnelle-de-la-mairie">Fermeture exceptionnelle de la mairie</a></h3>
                                        <a href="Fermeture-exceptionnelle-de-la-mairie" class="logo"><img src="../../public/assets/img/17885918873e41bd6461ee9c327feedc.png" class="img_png" alt="Fermeture exceptionnelle de la mairie" /></a>
                                    </div><!-- /bloc -->
                                </article><!-- /.intro -->

                                <div class="bouton"><a href="-En-bref-" class="url">Voir tout</a></div>
                            </div><!-- contenu_pave -->
                        </div><!-- pave -->
                    </section><!-- #principal -->

                    <div class="noisette noisette_bloctexte_brut covid"><div class='ajaxbloc' data-ajax-env='ebSc73Fn8TzFEnfSaJ2pvLVcWyCWYOgF5o33+otIB4t4oHPtqgDuJr7kJMd9XXhK3hNxExHjvxB6Wed2RaghfQrEK3jjiCs2PxhYKWi0snkomxiWm7WfaJHQjiQJ6vjs/+goTAS8nVAhS2+2RXBZEfFETCq7dy7rQEdxkw9rEGNmzrQXrrSThomSmNsokvLa' data-origin="./">
                            <div  class="g100">
                            </div>

                        </div><!--ajaxbloc--></div>
                </section><!-- #contenu -->

                <section id="extra" class="g33">
                    <div id="pre_extra">
                        <div id="connexion" class="pave">
                            <h2 class="decale"><span class="intitule">Connexion</span></h2>
                                  <div class="mb-3 chapos">
                                      {% if app.user != false %}
                                          Vous êtes connecté à
                                          {{ app.user.username }}
                                  </div>
                                  <div class="contenu_pave">
                                      <div class="login_off"><a href="{{ path('app_logout') }}" class="chapos">Déconnexion</a></div>
                                  </div>
                                      {% endif %}
                                {% if app.user != true %}
                            <div class="contenu_pave">
                                <div class="login_off"><span class="decale">Vous n'êtes pas connecté : </span><a href="login" class="chapos">Se connecter</a></div>
                            </div>
                            {% endif %}
                             <div class="contenu_pave">
                                  <div class="login_off"><span class="decale">Vous n'êtes pas connecté : </span><a href="register" class="chapos">S'inscrire</a></div>
                             </div>
                        </div><!-- .pave -->
                    </div><!-- #pre_extra -->

                    <div id="agenda" class="pave">
                        <h2 class="titraille"><span class="intitule">Agenda</span></h2>
                        <div class="contenu_pave_ag">
                            <h3 class="decale">Prochainement :</h3>
                            <div class="vevent id_52">
                                <div class="g25">
                                    <div class="bulle_date_debut">
                                        <div class="jour">19</div>
                                        <div class="mois">mars</div>
                                    </div>
                                </div>

                                <div class="g75">
                                    <h4 class="summary">Journée nationale à la mémoire des victimes civiles et militaires de la guerre d&#8217;Algérie</h4>
                                    <div class="date">Samedi 19 mars 2022</div>
                                    <div class="description">
                                        <div class="titre_page">Les cérémonies commémoratives</div>
                                        <div class="duree">Plus que 6 ans !</div>
                                    </div><!-- /.description -->
                                    <div><a href="Les-ceremonies-commemoratives-54" title="Les c&#233;r&#233;monies comm&#233;moratives" class="url">En savoir plus</a></div>
                                </div><!-- .g2 -->
                            </div><!-- /.vevent -->

                            <div class="vevent id_42">
                                <div class="g25">
                                    <div class="bulle_date_debut">
                                        <div class="jour">8</div>
                                        <div class="mois">mai</div>
                                    </div>
                                </div>

                                <div class="g75">
                                    <h4 class="summary">Victoire du 8 mai 1945</h4>
                                    <div class="date">Dimanche 8 mai 2022</div>
                                    <div class="description">
                                        <div class="titre_page">Les cérémonies commémoratives</div>
                                        <div class="des">En raison de l&#8217;état d&#8217;urgence sanitaire, cette année la cérémonie ne sera pas publique.Un dépôt de gerbes ne sera fait qu&#8217;en présence du Maire, du 1<sup class="typo_exposants">er</sup> adjoint, du Président des AFN et d&#8217;un porte-drapeaux.</div>
                                        <div class="duree">Plus que 7 ans !</div>
                                    </div><!-- /.description -->

                                    <div><a href="Les-ceremonies-commemoratives-54" title="Les c&#233;r&#233;monies comm&#233;moratives" class="url">En savoir plus</a></div>

                                </div><!-- .g2 -->
                            </div><!-- /.vevent -->

                            <div class="vevent id_22">
                                <div class="g25">
                                    <div class="bulle_date_debut">
                                        <div class="jour">11</div>
                                        <div class="mois">nov</div>
                                    </div>
                                </div>

                                <div class="g75">
                                    <h4 class="summary">Anniversaire de l’armistice du 11 novembre 1918 </h4>

                                    <div class="date">Vendredi 11 novembre 2022</div>
                                    <div class="description">
                                        <div class="titre_page">Les cérémonies commémoratives</div>
                                        <div class="des"><ul class="spip"><li> 10h45&nbsp;: Rassemblement devant la Mairie </li><li> 10h55&nbsp;: Départ du cortège vers le monument des combattants </li><li> 11h10&nbsp;: Dépôt de gerbes</li></ul></div>
                                        <div class="duree">Plus que 7 ans !</div>
                                    </div><!-- /.description -->
                                    <div><a href="Les-ceremonies-commemoratives-54" title="Les c&#233;r&#233;monies comm&#233;moratives" class="url">En savoir plus</a></div>

                                </div><!-- .g2 -->
                            </div><!-- /.vevent -->

                            <div class="vevent id_32">
                                <div class="g25">
                                    <div class="bulle_date_debut">
                                        <div class="jour">5</div>
                                        <div class="mois">dec</div>
                                    </div>
                                </div>
                                <div class="g75">
                                    <h4 class="summary">Journée nationale d’hommage aux morts de la guerre d’Algérie</h4>
                                    <div class="date">Lundi 5 décembre 2022</div>
                                    <div class="description">
                                        <div class="titre_page">Les cérémonies commémoratives</div>
                                        <div class="des">Journée nationale d’hommage aux morts de la guerre d’Algérie et des combats du Maroc et de la Tunisie.
                                            11h10&nbsp;: Dépôt de gerbes au monument des combattants</div>
                                        <div class="duree">Plus que 7 ans !</div>
                                    </div><!-- /.description -->

                                    <div><a href="Les-ceremonies-commemoratives-54" title="Les c&#233;r&#233;monies comm&#233;moratives" class="url">En savoir plus</a></div>

                                </div><!-- .g2 -->
                            </div><!-- /.vevent -->

                            <div class="bouton"><a href="-Agenda-des-evenements-" class="url">Tout l&#8217;agenda</a></div>
                        </div><!-- .contenu_pave -->
                    </div><!-- .pave -->
                </section><!-- #extra -->
            </div><!-- #content -->
        </div><!-- #page -->
    </div><!-- #corps -->

    </div><!-- #bg -->
{% endblock %}

